body{
    font-family: 'Ubuntu', sans-serif;
    background: #1D2026;
    color: #FFF;
}

form{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    background: #1D2026;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}
label{
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
input[type=text]{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    background: rgba(0,0,0,.3);
    border: 2px solid rgba(255,255,255,.5);
    direction: block;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
button{
    padding: 20px 25px;
    color: #FFF;
    background: #FE5639;
    border: none;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}